.tabs {
  $bg: #f3f3f3;
  $text: #1d1b16;
  $accent: #82cc00;

  font-size: 1rem;
  background: $bg;

  .triggers-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .trigger-item {
      display: flex;
      flex-flow: column nowrap;

      .tab-trigger {
        font-family: sans-serif;
        text-decoration: none;
        font-size: 1.125em;
        font-weight: 600;
        text-align: center;
        color: $text;
        cursor: pointer;
        padding: 1.25em .125em;
        margin: 0 .25rem;
        transition: .3s;
        border-bottom: 2px solid transparent;

        &:hover {
          color: $accent;
          border-bottom: 2px solid $accent;
        }

        &.active {
          color: $accent;
          border-bottom: 2px solid $accent;
        }
      }
    }
  }

  .tab-content {
    display: none;

    &.active {
      display: block;
    }
  }

  .edit-mode-info {
    display: block;
    border: 1px solid #5f9d70;
    background: #e1f7c3;
    color: #4a6b4a;
    border-radius: 19px;
    padding: 6px 19px;
    font-size: 12px;
    font-weight: 600;
  }
}
