.tabs {
  font-size: 1rem;
  background: #f3f3f3;
}

.tabs .triggers-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.tabs .triggers-container .trigger-item {
  display: flex;
  flex-flow: column nowrap;
}

.tabs .triggers-container .trigger-item .tab-trigger {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1.125em;
  font-weight: 600;
  text-align: center;
  color: #1d1b16;
  cursor: pointer;
  padding: 1.25em .125em;
  margin: 0 .25rem;
  transition: .3s;
  border-bottom: 2px solid transparent;
}

.tabs .triggers-container .trigger-item .tab-trigger:hover {
  color: #82cc00;
  border-bottom: 2px solid #82cc00;
}

.tabs .triggers-container .trigger-item .tab-trigger.active {
  color: #82cc00;
  border-bottom: 2px solid #82cc00;
}

.tabs .tab-content {
  display: none;
}

.tabs .tab-content.active {
  display: block;
}

.tabs .edit-mode-info {
  display: block;
  border: 1px solid #5f9d70;
  background: #e1f7c3;
  color: #4a6b4a;
  border-radius: 19px;
  padding: 6px 19px;
  font-size: 12px;
  font-weight: 600;
}
